.insurance_nav_manu {
    transition: .5s;
    z-index: 2;
    position: fixed;
    margin-bottom: -174px;
  }
  
  .insurance_nav_manu ::after{
    background-color: #fff;
    
  }
  
 
  
  .insurance_menu>ul>li {
      display: inline-flex;
      position: relative;
      z-index: 1;
  }
  
  .insurance_menu>ul>li>a {
    font-size: 17px;
    display: inline-block;
    margin: 35px 13px;
    transition: .5s;
    color: white;
    font-weight: 600;
    position: relative;
    text-decoration: none;
  }
  
  nav.insurance_menu span {
      font-size: 11px;
      padding-left: 5px;
      opacity: .5;
  }
  
  .insurance_menu ul li a:before {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    margin: auto;
    bottom: -5px;
    width: 0%;
    background: #000000;
    height: 1px;
    transition: .5s;
  }
  
  .insurance_menuu ul li a:hover:before{
    width:100%;
    left:0%;
  }
  .insurance_menu ul .sub-menu li a:before {
    display: none;
  }
  
  
  .header-button {
      display: inline-block;
  }
  
  .header-button a {
    font-size: 16px;
    padding: 10px 30px;
    font-weight: 500;
    color: #fff;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 5px;
    display: inline-block;
    position: relative;
    z-index: 1;
    transition: .5s;
    margin-left: 30px;
  }
  
  .header-button a:before {
      position: absolute;
      content: "";
      z-index: -1;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      border-radius: 5px;
      background: linear-gradient(to bottom right, #ff9b07 0%, #fd4f2f 90%);
      transform: scale(0);
      transition: .5s;
  }
  
  
  .header-button a:hover:before {
      transform: scale(1);
  }
  
 
  .style-2.insurance_nav_manu {
    margin-bottom: 0;
  }
  
  .style-2 .insurance_menu>ul>li>a {
    color: darkorange;
  }
  
  .style-2 .header-button a  {
    color: #232323;
    border: 1px solid #232323;
  }
  
  .style-2 .header-button a:hover  {
    color: #fff;
    border: 1px solid linear-gradient(to bottom right, #ff9b07 0%, #fd4f2f 90%);
  }
  
  
  
  
  
  
  
  .insurance_menu ul .sub-menu {
      position: absolute;
      left: 0;
      top: 130%;
      width: 217px;
      text-align: left;
      background: #fff;
      margin: 0;
      z-index: 1;
      -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
      transition: .5s;
      visibility: hidden;
      border-top: 2px solid #1CBEFF;
      opacity: 0;
  }
  
  .insurance_menu ul li:hover>.sub-menu {
      visibility: visible;
      top: 100%;
      opacity: 1;
  }
  
  .insurance_menu ul .sub-menu li {
      position: relative;
  }
  
  .insurance_menu ul .sub-menu li a {
    display: block;
    padding: 12px 20px;
    margin: 0;
    line-height: 1.3;
    letter-spacing: normal;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    transition: .5s;
    visibility: inherit !important;
    color: #101210 !important;
    position: relative;
    z-index: 1;
  }
  
  .insurance_menu ul .sub-menu li a:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    left: 0;
    bottom: 0;
    background: #00237d;
    z-index: -1;
    transition: 0.5s;
  }
  
  .insurance_menu ul .sub-menu li a:hover:after {
    height: 100%;
    top: 0;
  }
  
  
  
  
  .insurance_menu ul .sub-menu .sub-menu {
      left: 100%;
      top: 130%;
      opacity: 0;
      visibility: hidden;
  }
  
  .insurance_menu ul .sub-menu li:hover>.sub-menu {
      opacity: 1;
      visibility: visible;
      top: 0%;
  }
  
  
  .insurance_menu ul .sub-menu .sub-menu li {
      position: relative;
  }
  
  .insurance_menu ul .sub-menu .sub-menu .sub-menu {
      right: 100%;
      left: auto;
      top: 130%;
      opacity: 0;
      visibility: hidden;
  }
  
  .insurance_menu ul .sub-menu .sub-menu li:hover>.sub-menu {
      opacity: 1;
      visibility: visible;
      top: 0%;
  }
  
  ul.sub-menu li a span {
      background: #ffde5d;
      padding: 5px 10px;
      color: #fff;
      opacity: 1;
      font-family: 'Fira Sans';
      border-radius: 2px;
      margin-left: 5px;
      transition: .5s;
  }
  
  ul.sub-menu li:hover a span{
      background: rgba(255,255,255, 0.20);
  }
  
 
  .insurance_menu ul .sub-menu .sub-menu .sub-menu li {
      position: relative;
  }
  
  
  .insurance_menu ul .sub-menu .sub-menu .sub-menu li:hover>.sub-menu {
      opacity: 1;
      visibility: visible;
      top: 0%;
  }
  
  .insurance_menu li a:hover:before {
    transition: inherit;
    z-index: -1;
    content: '';
    position: absolute;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    width: 100%;
    height: 100%;
    border-radius: 4px;
  }
  
  
  
  
  
  .slider_area  {
    /* background-color: #580458; */
      background: url(banner-img.jpg);
      background-size: cover;
      background-position: inherit;
      background-repeat: no-repeat;
      height: 850px;
      position: relative;
      z-index: 1;
  }
  
  .hero_section_thumb {
    position: relative;
    z-index: 1;
    width: 500px;
  }
  
 .hero_section_thumb input{
    margin-top: 15px;
    height: 35px;
    border-radius: 4px;
  }
  
 
  
 
  
  .button a {
    font-size: 18px;
    padding: 14px 42px;
    font-weight: 500;
    color: linear-gradient(to bottom right, #ff9b07 0%, #fd4f2f 90%);
    background: #fff;
    display: inline-block;
    border-radius: 40px;
    border: 1px solid #fff;
    position: relative;
    z-index: 1;
    overflow: hidden;
    margin-top: 15px;
    text-decoration: none;
  }
  
  .button a:before {
      position: absolute;
      content: "";
      z-index: -1;
      top: 0;
      right: 0;
      height: 100%;
      width: 0;
      background: linear-gradient(to bottom right, #85683c 0%, #632c23 90%);
      border-radius: 30px;
      transition: .5s;
  }
  
 
  
  /* all hover
  ======================*/
  
  .button a:hover:before {
      width: 100%;
      left: 0;
  }
  
  .button a:hover {
      color: #fff;
  }
   .slider_text_inner h5:hover:before {
      clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
      width: 110%;
  }
  
  
  
  .em-hero-inner-thumb {
      position: absolute;
      top: 56px;
      left: 411px;
      z-index: -1;
  }
  
  .em-hero-inner-shape {
    position: absolute;
    top: 188px;
    left: 0;
    animation: moveLeftBounce 3s linear infinite;
    z-index: -1;
  }
  #contact_form{
    padding: 15px;
      background:aliceblue;
      width: 90%;
      border-radius: 7px;
  }
  
  
  .slider-2 {
    background-image: url(../images/slider/seo-bg.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 950px;
    position: relative;
  }
  
  .slider-2 .slider_text_inner h1 {
    color: rgb(35, 35, 35);
  }
  
  .slider-2 .slider_text_inner h5 {
    color: rgb(12, 89, 219);
    padding-left: 54px;
  }
  
  .slider-2 .slider_text_inner h5:before {
    position: absolute;
    content: "";
    z-index: -1;
    top: 11px;
    right: 127px;
    width: 42px;
    height: 1px;
    background: #6989CA;
    clip-path: inherit;
    transition: .5s;
  }
  
  
  
  
  
  .section_title  {
    margin-top: 70px;
   margin-bottom:30px;
  }
  
  
 
  
  .section_title h5 {
    border-radius: 1px;
    border: 1px solid black;
    width: 300px;
    
  }
 
  .section_title h4 {
    color: linear-gradient(to bottom right, #ff9b07 0%, #fd4f2f 90%);
    font-size: 20px;
    font-weight: 600;
    padding: 0 0 15px;
  }
  
 
  
 
    .service-single-box{
      border-radius: 2px;
      
    }
  
  .service-title h2 {
      font-size: 22px;
      padding: 16px 0 10px; 
      transition: .5s;
  }
  .service-desc p {
    transition: .5s;
    line-height: 20px;
    text-align: left;
    word-spacing: -1px;
    font-family:'Montserrat';
  }
  
  
  
  
.service-content {
  overflow-y: scroll;
  height: 300px;
  padding: 15px 19px 0px;
}



.service-single-box:hover .service-title h2, .service-single-box:hover .service-desc p {
  color:#e21717;
 
}

.faq-thumb {
  position: relative;
  left: -106px;
}

/*Accordion
====================*/
.process-contant :hover{
 color: green;
}
.accordion li {
  position: relative;
  list-style: none;
  padding: 2px 0px 25px;
}

.upper.accordion li:before {
  position: absolute;
  content: "";
  z-index: -1;
  right: 27px;
  top: 0px;
  width: 33px;
  height: 33px;
  line-height: 33px;
  border-radius: 50%;
  background-image: linear-gradient(0deg, #b4f815 0%, #fd545c 100%);
  background: linear-gradient(to bottom,transparent -80%,#00247e);
}

.accordion li a {
  width: 100%;
  display: block;
  cursor: pointer;
  font-weight: 700;
  font-size: 20px;
  color: #232323;
}
.accordion li p {
  display: none;
  font-size: 16px;
  padding-top: 20px;
  margin: 0;
}
.accordion a:before {
  width: 2px;
  height: 12px;
  background: #fff;
  position: absolute;
  right: 43px;
  content: " ";
  top: 12px;
  transform: rotate(0deg);
  transition: all 0.2s ease-in-out;
}
.accordion a:after {
  width: 12px;
  height: 2px;
  background: #fff;
  position: absolute;
  right: 38px;
  content: " ";
  top: 17px;
  transition: all 0.2s ease-in-out;
}




.footer-bottom {
  border-top: 1px solid rgba(255,255,255,.23);
  margin: 70px 0 0;
  padding: 25px 0 10px;
}

.footer-bottom-content-copy p {
  color: darkorange;
  
}

.footer-bottom-right {
  text-align: right;
  
}

.footer-bottom-info a {
  color: darkorange;
  display: inline-block;
  margin-left: 40px;
  text-decoration: none;

}
.flipbox_area {
  padding: 120px 0 90px;
}


.insurance_flipbox {
	perspective: 1000px;
	position: relative;
	/* transform-style: preserve-3d; */
	z-index: 1;
  margin-bottom: 30px;
}

.insurance_flipbox .insurance_flipbox_font, .insurance_flipbox .insurance_flipbox_back {
  min-height: 220px;
  height: auto;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  position: relative;
  border-radius: 5px;
}

.insurance_flipbox .insurance_flipbox_back::before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom,transparent -80%,#00247e);
}

.insurance_flipbox .icon {
  color: #fff;
  font-size: 40px;
  line-height: 90px;
  height: 90px;
  width: 90px;
  background: linear-gradient(to bottom right, #ff9b07 0%, #fd4f2f 90%);
  border-radius: 33% 66% 7% 30%/49% 62% 38% 51% !important;
  text-align: center;

}


.insurance_flipbox .insurance_flipbox_inner {
	padding: 0 25px;
	border-radius: 2px;
	position: absolute;
	left: 0;
	top: 50%;
	width: 100%;
	perspective: inherit;
	outline: transparent solid 1px;
	backface-visibility: hidden;
	transform: translateY(-50%) translateZ(60px) scale(0.94);
	z-index: 2;
}



.insurance_flipbox .insurance_flipbox_back {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	border-radius: 2px;
	transform: rotateX(180deg);
	transform-style: preserve-3d;
}
.insurance_flipbox:hover .insurance_flipbox_font {
	-webkit-transform: rotateX(-180deg);
	transform: rotateX(-180deg);
}
.insurance_flipbox:hover .insurance_flipbox_back {
	-webkit-transform: rotateX(0deg);
	transform: rotateX(0deg);
}
.footer-section {
  background-color: whitesmoke;
  /* background: linear-gradient(to bottom right, #ff9b07 0%, #fd4f2f 90%); */
  background-repeat: no-repeat;
  background-size: cover;
  padding: 45px 0 0;
}

.widget-title {
  color: rgb(31, 25, 18);
  font-size: 22px;
  padding: 0 0 40px;
}

.company-info-desc p {
  color: rgb(14, 12, 10);
  padding: 40px 0 6px;
}

.follow-company-text a {
  font-size: 20px;
  padding: 0px 0 20px;
  color: rgb(10, 8, 6);
  display: inline-block;
}

.follow-company-icon a {
  font-size: 16px;
  color: #fff;
  margin-right: 5px;
  font-weight: 500;
  display: inline-block;
  transition: .5s;
  width: 35px;
  height: 35px;
  line-height: 35px;
  border-radius: 30px;
  text-align: center;
  background: rgb(12, 10, 9);
  position: relative;
}

.menu-quick-link ul li {
  padding-bottom: 20px;
  list-style: none;
}

.menu-quick-link ul li a {
  color: darkorange;
  position:relative;
  transition:.5s;
  text-decoration: none;
}

.follow-company-icon a:hover {
   background-color: aquamarine;
  /* background: #fff; */
  text-align: justify;
}
